*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.wrapper{
    width: 900px;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

.img-wrapper{
    background-color: rgb(191, 232, 248);
}

.list{
    display: inline-block;
    width: 255px;
    }

.list{
    list-style: none;
    font-size: 0;
}

.img-title{
    color: black;
    font-size: 20px;
    background-color: aquamarine;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.price{
    color: black;
    font-size: 20px;
    background-color: bisque;
    display: inline-block;
    width: 55px;
    text-align: center;
}

.img-title{
    filter: grayscale(1);
}

.img-wrapper:hover .img-title {
    filter: grayscale(0);

}


