@import "./vars.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.site-logo{
    margin: 0;
}

.site-link{
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header-nav{
    display: flex;
}

.header-list{
    display: flex;
}

.header-item{
    margin-right: 30px;
}

.header-item:last-child{
    margin-right: 0;
}

.item-link{
    color: var(--main-color);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.item-link:hover{
    color: var(--main-color-hover);
    transition: 0.2s linear;
}

.header-item::after{
    content: "";
    display: block;
    border-bottom: 3px solid var(--main-color-hover);
    margin-top: 10px;
    width: 100%;
    opacity: 0;
}

.header-item:hover,
.header-item:hover::after{
    opacity: 1;
    color: var(--main-color-hover);
    transition: 0.2s linear;
}

.main-text{
    text-align: center;
    margin-bottom: 50px;
}

.main-text::after{
    content: "";
    display: block;
    border-bottom: 3px solid var(--main-color-hover);
    width: 60px;
    margin: 0 auto;
    margin-top: 40px;
}


.wrapper{
    margin-bottom: 20px;
}
.wrapper::after{
    content: "";
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: 40px;
}

.service-title{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    margin-bottom: 20px;

}

.service-text{
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-block{
    width: 380px;
    padding-left: 50px;
    margin-bottom: 50px;
    position: relative;
}

.icon{
    position: absolute;
    top: 0;
    left: 0;
}

.block-title{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.block-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.service-text__title{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.team-list{
    display: flex;
    justify-content: space-between;
    
}

.img-cont{
    position: relative;
    margin-bottom: 20px;
}

.team-img{
    display: block;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--background-image);
    opacity: 0;
    display: flex;
    align-items: center;
    padding-left: 75px;
}


.overlay:hover{
    opacity: 1;
}

.social-list{
    display: flex;
}


.social-link{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--icon-backgraund);
    text-align: center;
    padding-top: 15px;
    
}

.social-link:hover{
    background-color: var(--main-color);
    cursor: pointer;
}


.img-cont:hover{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 5px var(--main-color);
}


.img-cont:hover{
    opacity: 1;
}

.team-name,
.team-description{
    text-align: center;
}

.team-name{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.team-description{
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.footer {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-address {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.footer-link {
    color: var(--main-color-hover);
}

.form-down {
    display: flex;
    width: 380px;
}

.footer-button {
    height: 40px;
    width: 150px;
    border-style: none;
    background-color: var(--main-color);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-weight: 700;
    font-size: 14px;
    color: white;
    cursor: pointer;
}



.form-email {
    flex-grow: 1;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.form-email::placeholder {
    color: rgba(0, 0, 0, 0.4);
}









