:root{
--main-color: #95e1d3;
--main-color-hover:#f38181;
--icon-backgraund: #fce38a;
--background-image: -webkit-linear-gradient( 90deg, rgba(252, 227, 138, 0.699) 0%, rgba(243, 129, 129, 0.616) 100%);
}



