@import "./var.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}
* a {
  text-decoration: none;
}
.visually-hidden {
  visibility: hidden;
  font-size: 1px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.list-style {
  list-style: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: var(--title-font);
  margin-bottom: 120px;
  padding-top: 20px;
}
.logo {
  margin: 0 0;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 700;
}
.nav-list {
  display: flex;
}
.nav-list_item:nth-child(-n + 4) {
  margin-right: 60px;
}
.nav-link {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
}
.nav-link::after {
  content: "";
  display: block;
  margin-top: 10px;
  border: 1.5px solid var(--third-color);
  width: 100%;
  opacity: 0;
}
.nav-link:hover,
.nav-link:hover::after {
  opacity: 1;
  color: var(--third-color);
  transition: 0.2s linear;
}
.services {
  margin-bottom: 100px;
}
.services-title,
.team-title {
  text-align: center;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 65px;
}
.services-title_up,
.team-title_up {
  display: block;
  margin-bottom: 20px;
  text-transform: none;
  font-family: var(--before-font);
  font-weight: 400;
  font-size: 24px;
}
.services-title::after,
.team-title::after {
  content: "";
  margin: 0 auto;
  display: block;
  border: 1.5px solid var(--third-color);
  width: 60px;
  margin-top: 40px;
}
.services-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.services-list-item {
  width: 380px;
  display: flex;
  justify-content: space-between;
}
.services-list-item:nth-child(-n + 3) {
  margin-bottom: 100px;
}
.services-list-item::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
}
.icon-alarm::before {
  background-position: -40px -40px;
}
.icon-line::before {
  background-position: -40px -259px;
}
.icon-computer::before {
  background-position: -264px -40px;
}
.icon-book::before {
  background-position: -152px -40px;
}
.icon-home::before {
  background-position: -264px -148px;
}
.icon-image::before {
  background-position: -40px -259px;
}
.services-text {
  width: 300px;
}
.section-services__title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--fourth-color);
  margin-bottom: 20px;
}
.section-services__description,
.team-description {
  font-family: var(--description-font);
  font-size: 15px;
  font-weight: 400;
  color: var(--secondary-color);
}
.team {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 0px 0px var(--shadow-color);
  -moz-box-shadow: 0px 1px 0px 0px var(--shadow-color);
  box-shadow: 0px 1px 0px 0px var(--shadow-color);
}
.team-title {
  margin-bottom: 45px;
}
.team-description {
  width: 83%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list-item {
  width: 380px;
  margin-bottom: 80px;
}
.img-cont {
  position: relative;
  margin-bottom: 15px;
}
.img-cont:hover {
  transform: translate(-10px, -10px);
  transition: 0.2s linear;
}
.team-list-image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-cont:hover .overlay {
  visibility: visible;
  opacity: 0.9;
  -webkit-box-shadow: 10px 10px 0px 0px var(--main-color);
  -moz-box-shadow: 10px 10px 0px 0px var(--main-color);
  box-shadow: 10px 10px 0px 0px var(--main-color);
  transition: 0.2s linear;
}
.socials-list {
  display: flex;
}
.socials-list-item:nth-child(-n + 3) {
  margin-right: 1px;
}
.socials-link {
  display: block;
  width: 55px;
  height: 50px;
  background-repeat: no-repeat;
  background-color: var(--socials-back__color);
  background-image: url(../img/spritesheet.png);
}
.socials-link:hover {
  background-color: var(--socials-hover__color);
  transition: 0.2s linear;
}
.icon-facebook {
  background-position: -240px -250px;
}
.icon-twitter {
  background-position: -360px -240px;
}
.icon-pinterest {
  background-position: -360px -135px;
}
.icon-instagram {
  background-position: -363px -28px;
}
.team-list-name {
  text-align: center;
  font-size: 14px;
  font-family: var(--title-font);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--fourth-color);
  margin-bottom: 30px;
}
.team-list-description {
  text-align: center;
  font-size: 15px;
  font-family: var(--description-font);
  font-weight: 300;
  font-style: italic;
  color: var(--secondary-color);
}
.footer {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-address {
  font-size: 14px;
  font-family: var(--title-font);
  font-weight: 400;
  font-style: normal;
  color: var(--fourth-color);
}
.footer-link {
  color: var(--third-color);
}
.form-down {
  display: flex;
  width: 380px;
}
.footer-button {
  height: 40px;
  width: 150px;
  border-style: none;
  background: var(--socials-hover__color);
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 14px;
  color: var(--button-color);
  cursor: pointer;
}
.form-email {
  flex-grow: 1;
  padding-left: 10px;
  border: 1px solid var(--shadow-color);
  color: var(--secondary-color);
  font-size: 15px;
  font-family: var(--description-font);
  font-weight: 300;
  font-style: italic;
}
.form-email::placeholder {
  color: var(--text-button-color);
}
